# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/aw-portfoiio-front/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/aw-portfoiio-front/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/*.db
prisma/*.db-journal

# uploads
/aw-portfoiio-front/public/uploads/*
!/aw-portfoiio-front/public/uploads/.gitkeep

# duplicate folder
/port1

# 외주 작업 gitignore 세팅
.idea
/aw-portfoiio-api/aw-portfoiio-api.iml
