name: aw-portfolio

on:
  push:
    branches:
      - main


jobs:
  detect-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            backend : 
              - 'aw-portfoiio-api/**'
            frontend : 
              - 'aw-portfoiio-front/**'

    outputs:
      backend: ${{ steps.changes.outputs.backend }}
      frontend: ${{ steps.changes.outputs.frontend }}

  build-backend:
    needs: detect-changes
    if: needs.detect-changes.outputs.backend == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: gradle 권한 부여 및 빌드
        run: |
          cd bgm-agit-api
          chmod +x ./gradlew
          ./gradlew clean build -x test

      - name: 도커 빌드
        run: docker build -t peachcoolpis/bgmagit-server .

      - name: 도커 허브 로그인
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: 도커 허브 푸쉬
        run: docker push peachcoolpis/bgmagit-server

      - name: ssh 접속
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script_stop: true
          port: 22
          script: |
            rm -rf /home/cham/cham-server/target
            mkdir -p /home/cham/cham-server/target
            mv /home/cham/cham-server/tobe/project.jar /home/cham/cham-server/target
            cd /home/cham/cham-server/target
            sudo fuser -k -n tcp 8080 || true
            nohup java \
            -Dspring.profiles.active=real \
            -Duser.timezone=Asia/Seoul \
            -jar project.jar > /dev/null 2>&1 &
            rm -rf /home/cham/cham-server/tobe

  build-frontend:
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Node설치
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: 의존성 설치
        run: |
          cd aw-portfoiio-front
          npm i

      - name: 빌드
        run: |
          cd aw-portfoiio-front
          npm run build

      - name: 압축하기
        run: |
          cd aw-portfoiio-front
          tar -czvf project.tar.gz .next package.json package-lock.json public prisma

      - name: SCP로 EC2에 빌드된 파일 전송하기
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: aw-portfoiio-front/project.tar.gz
          target: /home/ubuntu/nextjs-server/tobe
          strip_components: 1

      - name: SSH로 EC2에 접속하기
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script_stop: true
          script: |
            rm -rf /home/ubuntu/nextjs-server/current
            mkdir -p /home/ubuntu/nextjs-server/current
      
            mv /home/ubuntu/nextjs-server/tobe/project.tar.gz \
            /home/ubuntu/nextjs-server/current/project.tar.gz
      
            cd /home/ubuntu/nextjs-server/current
            tar -xvf project.tar.gz
      
            npm install --production
      
            pm2 delete next-server || true
            pm2 start npm --name "next-server" -- start
